.App h1 {
  color: blueviolet;
 
}
.App{
  padding: 20px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 10px;
  margin:30px;
  text-align: center;
  box-shadow: -1px 0 20px gray, -1px 0 20px gray;
   margin-bottom: 30p0x;
}
.plyerlistItem{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;


}
.sub-continer{
 display: grid;
 grid-template-columns: 65% 30%;
 grid-gap: 10px;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


